@import "@fortawesome/fontawesome-free/css/all.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Estilo do Header */

@layer components {

/* ==================================================================================================
*| Estilo Toast Message
*|=================================================================================================== */
    .ellos-toast {
        @apply
        absolute
        top-20 right-2
        max-w-xl
        overflow-visible z-50
        space-y-2;

        .ellos-toast-info {
            @apply
            relative
            px-4 py-4
            bg-blue-100
            border border-blue-200
            rounded-md
            overflow-visible z-50
            items-center
            shadow-md;

            .icon-item {
                @apply
                h-6 w-6
                ml-2
                text-blue-400;
            }

            .content {
                @apply
                text-sm
                mx-5 my-2
                text-blue-800
                font-medium;
            }

            .button-close {
                @apply
                rounded-md
                bg-blue-100 hover:bg-blue-200
                text-blue-500
                focus:outline-none
                focus:ring-2
                focus:ring-offset-2
                focus:ring-offset-blue-100
                focus:ring-blue-600;

                .icon-item {
                    @apply
                    h-6 w-6
                    m-2;
                }
            }
        }

        .ellos-toast-success {
            @apply
            relative
            px-4 py-4
            bg-teal-50
            border border-teal-200
            rounded-md
            overflow-visible z-50
            items-center
            shadow-md;

            .icon-item {
                @apply
                h-6 w-6
                ml-2
                text-teal-400;
            }

            .content {
                @apply
                text-sm
                mx-5 my-2
                text-teal-800
                font-medium;
            }

            .button-close {
                @apply
                rounded-md
                bg-teal-50 hover:bg-teal-100
                text-teal-500
                focus:outline-none
                focus:ring-2
                focus:ring-offset-2
                focus:ring-offset-teal-50
                focus:ring-teal-600;

                .icon-item {
                    @apply
                    h-6 w-6
                    m-2;
                }
            }
        }

        .ellos-toast-warning {
            @apply
            relative
            px-4 py-4
            bg-yellow-100
            border border-yellow-200
            rounded-md
            overflow-visible z-50
            items-center
            shadow-md;

            .icon-item {
                @apply
                h-6 w-6
                ml-2
                text-yellow-400;
            }

            .content {
                @apply
                text-sm
                mx-5 my-2
                text-yellow-800
                font-medium;
            }

            .button-close {
                @apply
                rounded-md
                bg-yellow-100 hover:bg-yellow-200
                text-yellow-500
                focus:outline-none
                focus:ring-2
                focus:ring-offset-2
                focus:ring-offset-yellow-100
                focus:ring-yellow-600;

                .icon-item {
                    @apply
                    h-6 w-6
                    m-2;
                }
            }
        }

        .ellos-toast-danger {
            @apply
            relative
            px-4 py-4
            bg-red-100
            border border-red-200
            rounded-md
            overflow-visible z-50
            items-center
            shadow-md;

            .icon-item {
                @apply
                h-6 w-6
                ml-2
                text-red-400;
            }

            .content {
                @apply
                text-sm
                mx-5 my-2
                text-red-800
                font-medium;
            }

            .button-close {
                @apply
                rounded-md
                bg-red-100 hover:bg-red-200
                text-red-500
                focus:outline-none
                focus:ring-2
                focus:ring-offset-2
                focus:ring-offset-red-100
                focus:ring-red-600;

                .icon-item {
                    @apply
                    h-6 w-6
                    m-2;
                }
            }
        }

    }

/* ==================================================================================================
*| Estilo do Footer
*|=================================================================================================== */
    .ellos-footer {
        @apply
        py-5 px-4 sm:px-6 mx-auto
        mt-4 lg:mt-8 lg:pl-72 lg:py-10 lg:px-8
        text-sm
        bg-gray-100 dark:bg-gray-800
        border-y border-gray-200 dark:border-gray-700;

        .content {
            @apply
            grid grid-cols-1 sm:grid-cols-3 gap-6
            items-center;

            .content-left {
                @apply
                inline-flex
                items-center
                justify-center lg:justify-start
                text-center lg:text-left
                text-gray-500;

                IMG {
                    @apply
                    mr-2 w-8 lg:w-12 p-1
                    dark:backdrop-brightness-200 dark:bg-white
                    dark:rounded;
                }
            }

            .content-center {
                @apply
                text-center;

                LI {
                    @apply
                    block lg:inline-block relative lg:pr-8
                    text-gray-500
                    lg:last:pr-0 lg:last-of-type:before:hidden
                    lg:before:absolute lg:before:top-1/2 lg:before:right-3 lg:before:-translate-y-1/2 lg:before:content-['/'] lg:before:text-gray-500 lg:dark:before:text-gray-500;
                }
            }

            .content-right {
                @apply
                md:pr-10
                text-center
                md:text-right
                space-x-5 lg:space-x-10;

                A {
                    @apply
                    inline-flex justify-center items-center
                    w-8 h-8
                    text-center text-gray-500 hover:bg-gray-200
                    rounded-full focus:outline-none
                    focus:ring-1 focus:ring-blue-600 focus:ring-offset-2 focus:ring-offset-inherit
                    transition
                    dark:text-gray-500 dark:hover:text-gray-200 dark:hover:bg-gray-800 dark:focus:ring-offset-slate-900;
                }
            }

            .link {
                @apply
                hover:underline
                hover:underline-offset-2
                text-gray-500
                hover:text-blue-700
                dark:text-gray-500
                dark:hover:text-white;
            }
        }


    }

/* ==================================================================================================
*| Estilo do Breadcrumbs
*|=================================================================================================== */
    .ellos-breadcrumbs {
        @apply
        flex
        items-center
        justify-start
        whitespace-nowrap
        xl:mb-8
        h-full w-full;

        .item {
            @apply
            text-sm
            inline-flex
            items-center;

            A {
                @apply
                inline-flex
                items-center
                hover:underline-offset-4
                hover:underline
                text-gray-500 hover:text-teal-800 dark:hover:text-red-300;

                .icon-item {
                    @apply
                    flex-shrink-0
                    lg:mr-3 h-5 w-5;
                }

                .icon-divisor {
                    @apply
                    flex-shrink-0
                    mx-3
                    h-4 w-4
                    overflow-visible
                    text-gray-400 dark:text-gray-500;
                }
            }
        }

        .item-selected {
            @apply
            flex items-center
            text-sm
            font-semibold
            text-teal-800 truncate dark:text-gray-200;

            .icon-item {
                @apply
                flex-shrink-0
                mr-3 h-5 w-5;
            }
        }
    }

/* ==================================================================================================
*| Estilo do Menu DropDown
*|=================================================================================================== */
    .ellos-dropdown {
        @apply
        hidden
        min-w-[15rem] mt-1
        bg-white
        dark:bg-gray-800 dark:border dark:border-gray-700 dark:divide-gray-700
        shadow rounded-lg;

        .header-menu {
            @apply
            rounded-t-lg
            p-4
            text-sm text-gray-100
            bg-gray-100 dark:bg-gray-800
            border-b border-b-gray-200 dark:border-b-gray-600;

            H1 {
                @apply
                text-teal-700 dark:text-red-300
                font-bold
                uppercase;
            }

            P {
                @apply
                    font-medium
                    text-gray-600 dark:text-gray-300;
                }
        }

        .content {
            @apply
            p-2 space-y-1;

            A {
                @apply
                flex
                items-center
                p-2
                rounded-md hover:underline hover:underline-offset-4
                text-sm text-gray-800 hover:text-teal-600 dark:text-gray-400 dark:hover:text-red-300
                hover:bg-gray-100 dark:hover:bg-gray-700;

                .icon-item {
                    @apply
                    w-6 h-6 mr-2;
                }
            }
        }
    }

/* ==================================================================================================
*| Estilo do Sidebar Versão 02
*|=================================================================================================== */
    .ellos-sidebar {
        @apply
        w-64
        pt-4 pb-10
        bg-white dark:bg-gray-800
        border-r border-gray-200 dark:border-gray-700;

        .nav-modulo {
            @apply
            w-full flex flex-col flex-wrap
            my-6;

            LABEL {
                @apply
                uppercase
                pl-6 py-2 mt-2
                drop-shadow-md
                font-bold
                text-xs text-left
                text-gray-400  dark:text-gray-500;
            }

            UL {
                @apply
                space-y-1.5 pr-1 lg:pr-0;

                LI {
                    @apply
                    pl-6 py-2
                    flex items-center
                    px-6 rounded-r-lg
                    text-base font-normal
                    hover:bg-teal-50 dark:hover:bg-gray-700
                    text-gray-500 dark:text-gray-400
                    hover:text-gray-700 dark:hover:text-gray-300
                    hover:border-r-2 hover:border-r-teal-600 dark:hover:border-r-red-400 hover:shadow;

                    A {
                        @apply
                        flex items-center
                        w-full;

                        .icon-item{
                            @apply
                            w-5 h-5;
                        };
                    }
                }

                .item-selected {
                    @apply
                    bg-teal-50 dark:bg-slate-700
                    border-r-2 border-r-teal-600 dark:border-r-red-400
                    text-teal-700 dark:text-red-300;
                }
            }
        }

        .nav-menu {
            @apply
            w-full flex flex-col flex-wrap;

            LABEL {
                @apply
                uppercase
                pl-6 py-2 mt-2
                drop-shadow-md
                font-bold
                text-xs text-left
                text-gray-400  dark:text-gray-500;
            }

            UL {
                @apply
                space-y-0 space-x-0;

                LI {
                    @apply
                    pl-0 py-1;

                    A {
                        @apply
                        flex items-center
                        pl-6 pr-4 py-2
                        text-sm text-slate-700 hover:text-teal-800 rounded-md dark:text-slate-400 dark:hover:text-slate-300;

                        .icon-item {
                            @apply
                            w-5 h-5 mr-2;
                        }
                    }

                    .submenu {
                        @apply
                        w-full overflow-hidden mt-1;

                        UL {
                            @apply
                            p-0 gap-y-1;

                            LI {
                                @apply
                                pl-0 py-0 mx-0;

                                A {
                                    @apply
                                    pl-14 py-1.5
                                    hover:text-teal-800 dark:hover:text-slate-300;

                                    .icon-item {
                                        @apply
                                        w-4 h-4 mr-2;
                                    }
                                }
                            }

                            .item-selected {
                                @apply
                                font-bold;

                                A {
                                    @apply
                                    text-teal-700 dark:text-red-300;
                                }
                            }
                        }
                    }

                    .item-selected {
                        @apply
                        font-bold
                        text-teal-700 dark:text-red-300;
                    }
                }
            }
        }
    }

/* ==================================================================================================
*| Estilo do Body e Tags HTML
*|=================================================================================================== */
    .ellos-body {
        @apply
            flex h-screen
            bg-gray-50;
    }

/* ==================================================================================================
*| Estilo da Tabela Index Formulários
*|=================================================================================================== */
    .ellos-table {
        @apply
        w-full
        text-sm text-left
        text-gray-800 dark:text-gray-400
        table-auto;

        thead {
            @apply
            bg-gray-900 text-gray-200;

            tr {
                th {
                    @apply
                    px-2 py-4
                    text-sm lg:text-base font-bold
                    text-left uppercase
                    whitespace-nowrap tracking-wide;
                }
            }
        }

        tbody {
            tr {
                @apply
                even:bg-white odd:bg-gray-50 hover:bg-gray-50
                dark:bg-gray-800 dark:hover:bg-gray-900 dark:border-t dark:border-gray-900;

                th {
                    @apply
                    px-2 py-2;
                }

                td {
                    @apply
                    px-2 py-2;
                }
            }
        }

        .link-id{
            @apply
            font-bold text-teal-700 dark:text-red-300 hover:underline;
        }

    }

/* ==================================================================================================
*| Estilo Tag Verde
*|=================================================================================================== */
    .ellos-tag {
        @apply
        inline-block
        my-1 mx-1 px-2 py-1
        text-xs font-normal uppercase
        text-green-900 dark:text-green-300 hover:text-white
        tracking-wider whitespace-nowrap
        border border-green-600
        bg-green-400 hover:bg-green-600
        rounded-lg bg-opacity-50;
    }

/* ==================================================================================================
*| Estilo Header Páginas
*|=================================================================================================== */
    .ellos-header-page {
        @apply
        xl:grid xl:grid-cols-3
        gap-2 xl:gap-4;

        .div-titulo{
            @apply
            flex items-center;

            .div-icon{
                @apply
                flex
                w-8 h-8 sm:w-12 sm:h-12 shadow
                items-center justify-center
                text-gray-100
                bg-green-700
                rounded-md;

                .icon {
                    @apply
                    h-4 w-4 sm:h-6 sm:w-6;
                }
            }

            .div-text {
                @apply
                flex flex-col ml-2;

                .subtitulo{
                    @apply
                    text-xs lg:text-sm font-medium text-gray-500;
                }

                .titulo {
                    @apply
                    font-bold text-sm sm:text-xl xl:text-2xl text-gray-900 dark:text-gray-300 uppercase drop-shadow;
                }
            }
        }

        .div-busca {
            @apply
            xl:col-span-2;

            .busca {
                @apply
                xl:flex xl:gap-2;

                ul {
                    @apply
                    my-2 uppercase
                    items-center text-sm font-medium text-gray-900
                    bg-white border border-gray-200 rounded-lg
                    dark:bg-gray-700 dark:border-gray-600 dark:text-white
                    grid grid-cols-2 sm:flex;

                    li {
                        @apply
                        w-full;
                    }

                    .opcao {
                        @apply
                        flex items-center px-3;

                        input {
                            @apply
                            w-4 h-4
                            bg-teal-700 focus:ring-teal-700
                            dark:bg-gray-600 dark:border-gray-500 dark:focus:ring-red-400
                            ring-offset-white focus:ring-offset-white
                            dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700
                            focus:ring-2 ;
                        }

                        label {
                            @apply
                            w-full py-3 ml-2
                            text-sm font-medium text-gray-900 dark:text-gray-300
                            whitespace-nowrap;
                        }
                    }
                }

                .div-busca {
                    @apply
                    flex items-center w-full my-2 lg:mx-2;

                    .div-input {
                        @apply
                        relative w-full;

                        .div-icon {
                            @apply
                            absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none;

                            .icon {
                                @apply
                                w-5 h-5 text-gray-500 dark:text-gray-400;
                            }
                        }

                        input {
                            @apply
                            block w-full pl-10 p-2.5
                            text-gray-900 text-sm
                            bg-gray-50 border border-gray-300
                            rounded-lg focus:border-blue-500
                            dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
                            dark:text-white dark:focus:ring-offset-4 dark:focus:ring-offset-slate-900 dark:focus:ring-red-300;
                        }
                    }

                    .btn-blue {
                        @apply
                        p-2.5 ml-2
                        text-sm font-medium text-white shadow
                        bg-blue-700 hover:bg-blue-800
                        rounded-lg border border-blue-700
                        focus:ring-4 focus:outline-none focus:ring-blue-300
                        dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
                    }

                    .btn-green {
                        @apply
                        p-2.5 ml-2
                        text-sm font-medium text-white shadow
                        bg-green-600 hover:bg-green-800
                        rounded-lg border border-green-600
                        focus:ring-4 focus:outline-none focus:ring-green-300;
                    }
                }
            }
        }
    }

/* ==================================================================================================
*| Estilo do Avatar
*|=================================================================================================== */
    .ellos-avatar-horizontal {
        @apply
            grid grid-cols-1
            place-items-center
            p-2 gap-y-4;}

        .avatar-img {
            @apply
                relative inline-flex items-center justify-center
                w-14 h-14
                ring-1 ring-offset-4
                ring-gray-400 ring-offset-gray-100 dark:ring-gray-400 dark:ring-offset-gray-800
                drop-shadow-sm overflow-hidden rounded-full
                bg-gray-300 dark:bg-gray-600;}

            .avatar-img P {
                @apply
                font-bold text-sm
                text-gray-700 dark:text-gray-300;}

            .avatar-img IMG {
            @apply
            object-cover w-full h-full;}

        .avatar-content {
            @apply
                w-full
                text-center text-sm
                text-gray-700 dark:text-gray-300;}

            .avatar-content H1 {
                @apply
                    uppercase
                    font-bold
                    text-teal-800 dark:text-red-400;}

            .avatar-content P {
        @apply
            lowercase
            font-normal
            text-gray-500 dark:text-gray-500;}

        .avatar2-img {
            @apply
                relative inline-flex items-center justify-center
                w-40 h-52
                ring-1 ring-offset-4
                ring-gray-400 ring-offset-gray-100 dark:ring-gray-400 dark:ring-offset-gray-800
                drop-shadow-sm overflow-hidden rounded
                bg-gray-300 dark:bg-gray-600
                m-1 mb-3
                ;}

    .ellos-avatar-horizontal-md {
        @apply
            ellos-avatar-horizontal;}

        .ellos-avatar-horizontal-md .avatar-img {
            @apply
                w-20 h-20;}

        .ellos-avatar-horizontal-md .avatar-img P {
            @apply
                text-xl;}

        .ellos-avatar-horizontal-md .avatar-content H1 {
            @apply
                text-sm;}

    .ellos-avatar-horizontal-lg {
        @apply
            ellos-avatar-horizontal;}

        .ellos-avatar-horizontal-lg .avatar-img {
            @apply
                w-24 h-24;}

        .ellos-avatar-horizontal-lg .avatar-img P {
            @apply
                text-3xl;}

        .ellos-avatar-horizontal-lg .avatar-content H1 {
                @apply
                    text-lg;}

    .ellos-avatar-horizontal-sm {
        @apply
            ellos-avatar-horizontal
            gap-y-2;}

        .ellos-avatar-horizontal-sm .avatar-img {
            @apply
                w-[36px] h-[36px]
                ring-offset-2;}

        .ellos-avatar-horizontal-sm .avatar-img P {
            @apply
                text-sm;}

        .ellos-avatar-horizontal-sm .avatar-content H1 {
                @apply
                    font-normal
                    text-xs;}


    .ellos-main-content {
        @apply
            lg:rounded-xl
            lg:shadow
            dark:lg:shadow-none
            mt-0 lg:mt-3
            lg:p-4;}
}
